* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board-layout {
  display: flex;
  flex-direction: row;
  margin: 24px;
  width: 100%;
}

.display-scores {
  margin-right: 3%;
}

.score-refresh {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 3%;
}

.btn-refresh {
  width: 65px;
  height: 10%;
  float: right;
  border: 2px solid #000;
  box-shadow: 0 4px 5px;
  cursor: pointer;
  background-color: #fff;
}

.header-score {
  margin-bottom: 5%;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.btn {
  width: 37%;
  float: right;
  border: 2px solid #000;
  box-shadow: 0 4px 5px;
  margin-left: 63%;
  background-color: #fff;
  cursor: pointer;
}

.show-scores {
  border: 2px solid #000;
  background-color: #fff;
  width: 220px;
}

.display-score {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.p:nth-child(even) {
  background-color: #ddd;
}

.display-score p {
  padding-left: 4px;
}
