* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  margin-left: 29%;
  margin-top: 5%;
  padding: 8px;
}

.heading h1 {
  background-color: #e2dede;
  width: 23%;
  padding-left: 12px;
  border-radius: 6px;
}

.board-layout {
  display: flex;
  justify-content: center;
  margin: 24px;
  width: 100%;
}

.display-scores {
  margin-right: 3%;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  padding: 24px;
  background-color: #fff;
}

.score-refresh {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 3%;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 6px;
}

.score-refresh:hover {
  background-color: #000;
  cursor: pointer;
  padding: 12px;
  color: #fff;
}

.btn-refresh {
  width: 65px;
  height: 10%;
  float: right;
  border: 2px solid #000;
  box-shadow: 2px 5px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
}

.btn-refresh:hover {
  border: 2px solid #e2dede;
  box-shadow: 2px 5px;
  padding: 6px;
}

#display-score {
  display: flex;
  height: 30px;
  padding: 10px 0 27px 10px;
}

#display-score:nth-child(even) {
  background-color: #e2dede;
}

.header-score {
  margin-bottom: 5%;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 6px;
}

.header-score:hover {
  background-color: #000;
  cursor: pointer;
  padding: 12px;
  color: #fff;
}

.add-scores {
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  background-color: #fff;
  padding: 24px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.btn {
  width: 37%;
  float: right;
  border: 2px solid #000;
  box-shadow: 2px 5px;
  margin-left: 63%;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.show-scores {
  border: 1.5px solid #000;
  background-color: #fff;
  width: 240px;
}
